<html>
  <head>
    <title>ArquiSoft</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" media="screen" title="no title" charset="utf-8">
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
  </head>
  <body>
   <br><br><br><br>
     <div class="ui center aligned basic segment">
   <div class="ui container teal segment">

           <i class="users massive icon"></i>
           <h2 class="ui horizontal divider header">Proyecto Arqui </h2>
            <a href='/NewEmployee' type='button' class='ui green fluid button'>Registrar Nuevo Empleado</a>
           <br>
            <!--   <a href='/NewEmployeeComisioned' type='button' class='ui green fluid button'>NuevoEmpleadoConComision</a>
             <br>
            <a href='/NewEmployeeByHours' type='button' class='ui green fluid button'>NuevoEmpleadoPorHoras</a>
             <br>-->
            <a href='/Employees' type='button' class='ui blue fluid button'>VerEmpleados</a>
      </div>
      </div>




  </body>
</html>
