<html>
  <head>
    <title>ArquiSoft</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" media="screen" title="no title" charset="utf-8">
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
  </head>
  <body>
  
     <a class="ui red button"href="/">Atras</a>  
     
     
     


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

<div class="ui container green segment">


   <div class="ui horizontal divider"><h1 class="ui green header center aligned">
       Lista de Empleados
   </h1></div>

<div class="ui divider">
</div>



  <div class="ui container">
  <table class="ui very basic table">
  <thead>
    <tr>
      <th>CI</th>
      <th>Nombres</th>
      <th>Direccion</th>
    </tr>
  </thead>
  <tbody>
        	#foreach ($employee in $employees)
    <tr>
                <td>$employee.getEmployeeId().toString()</td>
			    <td>$employee.getName().toString()</td>
			    <td>$employee.getAddress().toString()</td>	
    </tr>
			#end
  </tbody>
</table>

</div>
</div>
  </body>
</html>