<html>
    <head>
    <title>Hello Friend!</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" media="screen" title="no title" charset="utf-8">
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
  </head>
	<body>
		<div class="ui segment basic">
			<a class="ui red button"href="/">Atras</a>
		</div>

		<div class="ui container green segment">
			<form class="ui form" method="post" action="/newEmployee">
				<div class="field">
					<label>Escoja el tipo de empleado a registrar.</label>
					<div class="inline fields">
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="kind" value="1" checked="checked" onclick="showComision()">
								<label>Empleado fijo</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="kind" value="2" onclick="hideComision()">
								<label>Empleado por horas</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Nombre</label>
					<input type="text" name="nombre" placeholder="Nombre Completo" required>
				</div>
				<div class="field">
					<label>Carnet de identidad</label>
					<input type="text" name="ci" placeholder="Carnet de Identidad" required>
				</div>
				<div class="field">
					<label>Direccion</label>
					<input type="text" name="direccion" placeholder="Direccion" required>
				</div>
				<div class="field">
					<label>Salario:</label>
					<input type="text" name="salario" placeholder="Salario" required>
				</div>
				<div class="field" id="bloquecomision">
				 <label>Comision por ventas: <span class="ui tiny header red">*solo si recibe comision</span></label>
				 <input type="text" name="comision" placeholder="Comision">
				</div>
				<input type="submit" class="ui green button" value="Guardar">
			</form>
		</div>

	</body>
 </html>

 <script type="text/javascript">
	function hideComision(){
		document.getElementById("bloquecomision").style.display = "none";
	}
	function showComision(){
		document.getElementById("bloquecomision").style.display = "block";
	}
 </script>
